<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea French Academy</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100">
    {% include 'top_bar.html.twig' %}
    <div class="flex">
        {% include 'sidebar.html.twig' %}
        <div class="w-3/4 p-8" id="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
   

    <script>


        document.addEventListener("DOMContentLoaded", function() {
            const menuItems = document.querySelectorAll('li[id$="-menu"]');
            menuItems.forEach(item => {
                item.addEventListener('click', function(event) {
                    const contentType = event.target.closest('li').id.replace('-menu', '');

                    // AJAX request to fetch content based on menu click
                    fetchContent(contentType);
                });
            });

            function fetchContent(contentType) {
                fetch(`/content/${contentType}`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('main-content').innerHTML = data;
                    })
                    .catch(error => {
                        console.error('Error loading content:', error);
                    });
            }
        });
    </script>
   

</body>
</html>
